* {
  box-sizing: border-box;
}

body {
  background-color: #33302F;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

h1 {
  animation: intro 2s;
  color: white;
  font-family: sans-serif;
}

img {
  animation: clockwise 2s;
  width: 50vw;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
    width: 100vw;
  } 50% {
    transform: rotate(360deg);
    width: 25vw;
  } 100% {
    transform: rotate(360deg);
    width: 50vw;
  }
}

@keyframes intro {
  0%, 50% {
    font-size: 0px;
  } 100% {
    font-size: auto;
  }
}
